body {
    background-color: black;
}

.spooky-meter-container {
	text-align: center;
}

#spooky-meter {
	max-width: 100vw;
}

.ptr--content .ptr--icon {
    color: #fff;
}

.ptr--content .ptr--text {
    color: #fff;
}

#fork-me {
	display: none;
}

@media (min-width: 768px) {
	#fork-me {
		display: inline;
	}
}
